@page
@model app.Pages.IndexModel
@{
    ViewBag.Title = "Main page";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>
@foreach (var user in Model.Users)
{
    <tr>
        <td>@user.Id</td>
        <td>@user.Login</td>
        <td>@user.Email</td>
        <td>@user.Password</td>
    </tr>
}
<a href="/signup">Sign Up</a>
